body {
	background-color: #000000;
	color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 100px;
  font-family: 'Space Mono', monospace;
  code: &#8599;&#xFE0E;
}

header.logo {
  display: block;
}

header {
  padding-top: 150px;
}

h2 {
	font-size: 24px;
  line-height: 1.5;
}

p {
  max-width: 370px;
}

.p1 {
  max-width: 360px;
}

.p2 {
  margin: 100px 0 80px;
}

.image_info {
  max-width: 100%;
  margin-top: 20px;
  padding:10px;
  background-color: #EEEEEE;
  color: #000000;
}

a {
  text-decoration: none;
  color: #6a6a6a;
  margin: 0 25px 0 0;
}

a:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

footer {
  background-color: #1a1a1a;
  margin: 80px 0 100px;
  padding: 30px;
  color: #ffffff;
  display: block;
}

.social {
  padding-top: 30px;
  color: #ffffff;
}



section {
  margin-top: 100px;
}

.image_1 {
  max-width: 1200px;
  margin-top: 90px;
}
.image_2 {
  max-width: 630px;
  margin-top: 90px;
}

.image_3 {
  max-width: 1100px;
  margin-top: 90px;
}

.image_4 {
  max-width: 1200px;
  margin-top: 90px;
}

.our_process {
  margin-top: 90px;
  margin-bottom: 90px;
}

hr {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 50px 0;
}
@media (max-width:700px) {

  body {
    font-size: 12px;
    padding: 0 30px;
  }

  .logo{
    max-width: 70%;
  }

  header {
    padding-top: 30px;
  }

  a {
    display: block;
    padding: 20px 0 0 0;
  }

  footer {
    width: auto;
    margin: 40px -30px 0px -30px;
  }

  section {
    margin-top: 30px;
  }

  .image_1,
  .image_2,
  .image_3,
  .image_4 {
    margin-top: 30px;
  }

  .our_process {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .about-text, hr {
    margin: 20px 0;
}
}
